.periodic-wrapper {
    display: grid;
    place-items: center;
}

.element {
    &:hover{
        &+.popup {
            opacity: 1;
            z-index: 5;
            transition: opacity 500ms ease;
        }
    }
}

.legends-color {
    width: .8rem;
    height: .8rem;
}

.legends {
    grid-row: 0 / 4;
    grid-column: 3 / 13;
    width: 100%;
    height: 100%;
    h2{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 0 0;
    }
    .color-legends {
        display: grid;
        padding: .2rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
        grid-template-columns: repeat(3, auto);
        .category-lgroup{
            display: flex;
            color: white;
            align-items: center;
            .legends-color{
                margin-right: 5px;
            }
            .legends-label{
                span {
                    font-size: .8rem;
                }
            }
        }
    }
}


#periodic-table {
    overflow-y: hidden;
}

#periodic-table-mobile {
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem;
    border-radius: 15px;
    h2 {
        margin-top: 1rem;
    }

    form {
        margin-bottom: 1rem;

        label {
            color: white;
            margin-right: 1rem;
        }

        select {
            background-color: beige;
        }
    }

    .elem-wrapper {
        width: 100%;

        button {
            display: block;
            min-width: 80%;
            margin: 1rem auto;
            color: #282054;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (orientation: portrait) {
    .periodic-wrapper {
        #periodic-table {
            display: none;
        }
    }
    
    #periodic-table-mobile {
        display: block;
    }
}