.electron-config {
  margin-left: 15vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.electron-config h1 {
  color: white;
  font-family: "Secular One", sans-serif;
  font-size: 4rem;
  text-shadow: 3px 5px 3px #000000;
}
.electron-config input[type=text] {
  width: 50%;
}
.electron-config button {
  padding: 0.5rem 5rem;
  width: max-content;
}