#intelliment .intellimain {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 90vh;
}
#intelliment .intellimain .header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-bottom: none;
}
#intelliment .intellimain .header .total-questions {
  justify-self: start;
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 1rem;
}
#intelliment .intellimain .header .score {
  justify-self: end;
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 1rem;
}
#intelliment .intellimain .header .multiplier {
  justify-self: center;
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
#intelliment .intellimain .header .multiplier .multi {
  font-size: 2rem;
  font-size: clamp(1.2rem, 4vw, 4rem);
  text-align: center;
}
#intelliment .intellimain .header .settings {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: 1rem;
}
#intelliment .intellimain .header .settings .icon:hover {
  color: #000;
}
#intelliment .intellimain .header .settings .exit {
  background-color: #D34646;
}
#intelliment .intellimain .header .settings .exit:hover {
  background-color: #FFF;
}
#intelliment .intellimain .question-wrapper {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  width: 80%;
}
#intelliment .intellimain .question-wrapper .question {
  margin: 1rem;
  text-align: center;
}
#intelliment .intellimain .question-wrapper .choices-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
#intelliment .intellimain .timer {
  display: flex;
  margin: 0 3rem;
}
#intelliment .intellimain .timer .text-timer {
  margin-right: 5px;
  align-self: center;
}
#intelliment .intellimain .timer .bar-timer {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #dca44a;
  align-self: center;
  transition: width 0.5ms;
}

.difficulty-chooser {
  text-align: center;
}
.difficulty-chooser button {
  display: block;
  min-width: 80%;
  margin: 2rem auto;
  color: #282054;
}
.difficulty-chooser button:hover {
  cursor: pointer;
  background-color: #DE9F00;
}

@media only screen and (orientation: portrait) {
  .question-wrapper {
    margin-right: 0 !important;
    width: 80%;
  }
  .question-wrapper .question {
    margin: 1rem;
    text-align: center;
  }
  .question-wrapper .choices-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .timer {
    margin-top: 4px !important;
  }
}