#intelliment {
    .intellimain {
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        height: 90vh;
    
        .header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            border-bottom: none;

            .total-questions {
                justify-self: start;
                font-size: clamp(1rem, 2vw, 3rem);
                margin: 1rem;
            }

            .score {
                justify-self: end;
                font-size: clamp(1rem, 2vw, 3rem);
                margin: 1rem;
            }

            .multiplier {
                justify-self: center;
                font-size: clamp(1rem, 2vw, 3rem);
                margin: 1rem;
                display: flex;
                flex-direction: column;

                .multi {
                    font-size: 2rem;
                    font-size: clamp(1.2rem, 4vw, 4rem);
                    text-align: center;
                }
            }

            .settings {
                display: flex;
                flex-direction: row-reverse;
                align-self: flex-start;
                justify-self: flex-end;
                margin-top: 1rem;
                
                .icon:hover {
                    color: #000;
                }

                .exit {
                    background-color: #D34646;
                }

                .exit:hover {
                    background-color: #FFF;
                }
            }
        }

        .question-wrapper{
            justify-self: center;
            display: flex;
            flex-direction: column;
            margin-right: 3rem;
            width: 80%;

            .question {
                margin: 1rem;
                font-size: clamp(16px, 2vw, 1.5rem);
                text-align: center;
            }

            .choices-wrapper {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 5px;
            }
        }

        .timer {
            display: flex;

            .text-timer {
                margin-right: 5px;
                align-self: center;
            }

            .bar-timer {
                width: 100%;
                height: 5px;
                border-radius: 5px;
                background-color: #dca44a;
                align-self: center;
                transition: width .5ms;
            }

            margin: 0 3rem;
        }
    }
}

.difficulty-chooser {
    text-align: center;

    button {
        display: block;
        min-width: 80%;
        margin: 2rem auto;
        color: #282054;
    }

    button:hover {
        cursor: pointer;
        background-color: #DE9F00;
    }
}

@media only screen and (orientation: portrait) {
    .question-wrapper{
        margin-right: 0 !important;
        width: 80%;

        .question {
            margin: 1rem;
            text-align: center;
        }

        .choices-wrapper {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;
        }
    }
    
    .timer {
        margin-top: 4px !important;
    }
}
