.selector-wrapper {
  width: 100vw;
  position: relative;
  margin-bottom: 2rem;
}
.selector-wrapper .selector::-webkit-scrollbar {
  height: 2px;
}
.selector-wrapper .selector {
  display: flex;
  border-bottom: 5px solid #220B42;
}
.selector-wrapper .selector button {
  transform: translateY(75%);
  font-size: clamp(16px, 1.4vw, 1.75rem);
  padding: 0.1rem 1rem;
  background-color: #F1F1F1;
}
.selector-wrapper .selector button.active {
  background-color: #008773;
  box-shadow: 0px 0px 0px 5px #240E3F;
}
.selector-wrapper .selector button:hover {
  background-color: #DE9F00;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.container .top-text {
  background-color: #E8E8E8;
  padding: 1rem 2rem;
  border-radius: 20px;
  align-self: flex-end;
  transform: translateY(50%);
}
.container .top-text h1 {
  font-size: clamp(20px, 2.5vw, 2rem);
  color: #0C004E;
}
.container .difficulty-wrapper {
  display: grid;
  place-items: center;
  width: 80vw;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.container .difficulty-wrapper button {
  max-width: none;
  min-width: 120px;
  display: grid;
  place-items: center;
  padding: 0.5rem 0.5rem;
}
.container .difficulty-wrapper button span {
  font-size: clamp(16px, 1.5vw, 1.5rem);
}

@media (max-width: 404px) {
  .selector-wrapper .selector {
    overflow-x: auto;
  }
  .selector-wrapper .selector button {
    transform: translateY(0);
  }
}