.selector-wrapper {
    width: 100vw;
    position: relative;
    margin-bottom: 2rem;

    .selector::-webkit-scrollbar {
        height: 2px;
    }

    .selector {
        display: flex;
        border-bottom: 5px solid #220B42;

        button {
            transform: translateY(75%);
            font-size: clamp(16px, 1.4vw, 1.75rem);
            padding: .1rem 1rem;
            background-color: #F1F1F1;
        }

        button.active{
            background-color: #008773;
            box-shadow: 0px 0px 0px 5px #240E3F;
        }

        button:hover {
            background-color: #DE9F00;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    .top-text{
        background-color: #E8E8E8;
        padding: 1rem 2rem;
        border-radius: 20px;
        align-self: flex-end;

        h1 {
            font-size: clamp(20px, 2.5vw, 2rem);
            color: #0C004E;
        }

        transform: translateY(50%);
    }

    .difficulty-wrapper {
        display: grid;
        place-items: center;
        width: 80vw;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        button {
            max-width: none;
            min-width: 120px;
            display: grid;
            place-items: center;
            padding: .5rem .5rem;

            span {
                font-size: clamp(16px, 1.5vw, 1.5rem);
            }
        }
    }
}

@media (max-width: 404px) {
    .selector-wrapper {
        .selector {
            overflow-x: auto;
            button {
                transform: translateY(0);
            }
        }
    }
}