.main-wrapper{
    .progress-header {
        justify-self: center;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        width: 90%;

        h2 {
            margin: 0;
        }

        .progress-wrapper {
            display:flex;
            justify-content: space-around;
            margin-top: 2%;
        }
    }

    .progress-body {
        justify-self: center;
        align-self: flex-start;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2px solid #350045;
        border-radius: 10px;
        padding: 2rem;
    }
    
}

.progress-div {
    display: grid;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #0C004E;
    width: 30%;
    border-radius: 14px;

    h3{
        align-self: flex-start;
        justify-self: flex-start;
        padding: 1rem 0 0 1rem;
    }

    p {
        align-self: center;
        justify-self: center;
        font-size: 3rem;
    }

    .side {
        font-size: 1rem;
    }
}

.progress-body {
    margin-top: 1rem;
    
    .category-wrapper{
        h1 {
            color: #FFFFFF;
            font-size: 2.5rem;
        }
    }

    .body-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
}

.left-progress {
    align-self: center;
}

.right-progress {
    background-color: rgba(78, 35, 124, 0.6);
    padding: 2rem;
    border-radius: 8px;
}

.right-progress > button{
    display: block;
    width: 80%;
    margin: 1rem auto;
    max-width: 100%;
    font-size: 1.5rem;
}

.right-progress > h2 {
    margin-top: 0;
}

.chart{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}