* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Secular One', sans-serif;
}

html {
    background: rgb(72,20,156);
    background: -moz-linear-gradient(129deg, rgba(72,20,156,1) 0%, rgba(72,20,156,1) 14%, rgba(255,179,179,1) 100%);
    background: -webkit-linear-gradient(129deg, rgba(72,20,156,1) 0%, rgba(72,20,156,1) 14%, rgba(255,179,179,1) 100%);
    background: linear-gradient(129deg, rgba(72,20,156,1) 0%, rgba(72,20,156,1) 14%, rgba(255,179,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48149c",endColorstr="#ffb3b3",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.App {
    display: flex;
}

.App-uno {
    display: block;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: center;
}

button, .button {
    max-width: max-content;
    text-align: center;
    padding: clamp(2px, 2vw, 8px) clamp(5px, 3vw, 3em);
    border-radius: 2em;
    margin: 2vh clamp(5px, 1vw, 1em);
    border-radius: 15px;
    z-index: 2;
    width: 60%;
    border: none;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}

.fluid-btn {
    max-width: none;
    padding: 0;
}

button:hover:enabled, .button:hover:enabled {
    background-color: #DE9F00;
    color: #FFFFFF;
    cursor: pointer;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}

button:disabled:hover:enabled {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.active-diff {
    background-color: #DE9F00;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.normal {
    background-color: transparent;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    color: white;
    transition: background-color .500ms ease;
}

.normal:hover:enabled {
    background-color: #D34646;
    box-shadow: 0 0 0 3px #D34646;
    transition: background-color .500ms ease;
}

.cta {
    background-color: #FFCD4E;
    box-shadow: 0 0 0 3px #FFCD4E;
    color: #0C004E;
}

.cta:hover:enabled {
    background-color: #FFEAB6;
    color: #0C004E;
    box-shadow: 0 0 0 3px #FFEAB6;
    transition: background-color .500ms ease;
}

.teal {
    background-color: #21AB97;
    box-shadow: 0 0 0 3px #21AB97;
    color: #ffffff;
    font-size: 1.7rem;
    
}

.teal:hover:enabled {
    background-color: #AB2921;
    box-shadow: 0 0 0 3px #AB2921;
    transition: background-color .500ms ease;
}

.black {
    background-color: #000000;
    box-shadow: 0 0 0 3px #000000;
    color: #ffffff;
    font-size: 1.7rem;
    
}

.black:hover:enabled {
    background-color: #AB2921;
    box-shadow: 0 0 0 3px #AB2921;
    transition: background-color .500ms ease;
}

.red {
    background-color: #AB2921;
    box-shadow: 0 0 0 3px #AB2921;
    color: #ffffff;
    font-size: 1.7rem;
}

.red:hover:enabled {
    background-color: #21AB97;
    box-shadow: 0 0 0 3px #21AB97;
    transition: background-color .500ms ease;
}

.purple {
    background-color: #FFF;
    box-shadow: 0 0 0 3px #000000;
}

.purple.active{
    background-color: #8E3B77;
}

.battle-btn {
    font-size: clamp(14px, 1.5vw, 1.5rem);
    padding: .5rem min(2rem, 1vw);
    margin: 0 auto;
}

label {
    justify-self: left;
    color: #8E3B77;
    margin-left: 1.1rem;
    font-family: 'Secular One', sans-serif;
}

input {
    width: 90%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: .1rem 1rem;
    background-color: #8E3B77;
    color: #ffffff;
}

input:active {
    border-color:#fff;
}

h2 {
    color: white;
    font-size: clamp(24px, 3vw, 3rem);
    text-align: center;
    margin-top: 1rem;
}

.form-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    // padding: 2rem 4rem;
    max-width: 50%;
    width: clamp(70rem, 50vw, 120rem);
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    margin: 3rem 0;
    position: relative;

    h2 {
        margin: 1rem auto;
        text-align: center;
        font-size: 2.5rem;
        color: #282054;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.284);
    }
}

.main-header {
    h1 {
        font-size: clamp(16px, 3vw, 3rem);
    }
}

#login {
    width: 80%;
}

.register-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    max-width: 80%;

    h2 {
        grid-column: span 2 / auto;
    }

    .model-sel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: #8E3B77;
            font-size: clamp(16px, 2vw, 2rem);
        }

        img {
            width: clamp(50px, 20vw, 10rem);
            filter: drop-shadow(5px 5px 5px #222);
        }

        .button-wrapper {
            grid-template-columns: 1fr 1fr;
            button {
                display: grid;
                place-items: center;
                width: fit-content;
                padding: .5rem;
                img {
                    width: 48px;
                    height: 48px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}

.icon {
    background-color: #FBB500;
    width: 26px;
    height: 26px;
    align-self: flex-end;
    border-radius: 5px;
    padding: .5rem;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0 .5rem;

    img {
      height: 1.5rem;
    }
  }

.icon:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.float-help {
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.settings-wrapper {
    margin-left: auto;
    align-self: center;
    justify-self: flex-end;
    display: flex;
}

.modal-wrapper {
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

//Scrollbar
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(158, 138, 187, 0.8);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9); 
}

@media only screen and (orientation: portrait) {
    .form-wrapper {
        background-color: rgba(255, 255, 255, 0.9);
        // padding: 2rem 4rem;
        max-width: 100vw;
        width: 90vw;
    }
}