.conPassword h2 {
  text-align: center;
}
.conPassword button {
  display: block;
  margin: auto;
}
.conPassword .showPassword {
  display: flex;
  flex-direction: row;
}
.conPassword .showPassword label {
  width: 100%;
}