.conPassword {
    h2 {
        text-align: center;
    }

    button {
        display: block;
        margin: auto
    }

    .showPassword {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        
        label {
            width: 100%;
        }
    }
}

