.mixDash-wrapper {
  height: 100vh;
}

.mixDash-window {
  display: grid;
  grid-template-rows: 20% 45% 35%;
  place-content: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(25, 7, 54, 0.5);
  border-radius: 16px;
}
.mixDash-window .dash-status {
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
.mixDash-window .dash-status .progress-bar {
  justify-self: center;
}
.mixDash-window .dash-status .goal-count {
  justify-self: flex-end;
}
.mixDash-window .customer-wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
  position: relative;
  align-self: flex-end;
}
.mixDash-window .customer-wrapper .satisfaction {
  height: 5px;
  border-radius: 5px;
  transition: background-color linear 50ms;
  transition: width linear 50ms;
}
.mixDash-window .customer-wrapper .order-wrapper {
  background-color: #FFF;
  height: 50%;
  border-radius: 5px;
  align-self: flex-end;
  margin-bottom: 2vh;
}
.mixDash-window .customer-wrapper .order-wrapper .order {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100%;
}
.mixDash-window .customer-wrapper .order-wrapper::after {
  content: "";
  display: absolute;
  width: 3rem;
  height: 2rem;
  border-left: 1.5rem #FFF solid;
  border-bottom: 1rem transparent solid;
  transform: translateY(-80%);
  display: block;
}
.mixDash-window .customer-wrapper #customer {
  width: max(20vw, 100px);
  justify-self: center;
  align-self: flex-end;
}
.mixDash-window .customer-wrapper::after {
  content: "";
  border-bottom: clamp(16px, 2vw, 2rem) solid brown;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
}
.mixDash-window .elements-wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 1rem;
}
.mixDash-window .elements-wrapper .elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}
.mixDash-window .elements-wrapper .element {
  background-color: #FFF;
}
.mixDash-window .elements-wrapper .element.selected {
  box-shadow: 0 0 0 0.3rem green;
}
.mixDash-window .mix-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}
.mixDash-window .mix-wrapper button:disabled {
  color: white;
  background-color: #AB2921;
  box-shadow: 0 0 0 3px #AB2921;
  transition: background-color 0.5ms ease;
}