.shop-wrapper{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.left{
    width: 40vw;
    .user-info{
        display: grid;
        justify-content: start;
        text-align: center;
        min-width: fit-content;

        .upper-part{
            width: 100%;
            background-color: #B1BEFA;
            padding: .5rem auto;
            border-top-right-radius: 2rem;

            h1 {
                font-size: clamp(16px, 1.25vw, 3rem);
                color: #282054;
                padding: 1rem 3rem;
            }
        }
        
        .lower-part{
            display: flex;
            width: 100%;
            background-color: #282054;
            border-bottom-right-radius: 0.5rem;
            align-items: center;
            justify-content: space-around;
            align-self: center;

            img{
                margin: .3rem;
                width: clamp(25px, 1.25vw, 3rem);
                float: left;
            }
            
            h1{
                font-size: clamp(16px, 1vw, 3rem);
                color: #B1BEFA;
                margin: auto .5rem;
            }

        }
    }

    .character-preview-container{
        display: grid;
        place-items: center;
        position: relative;
        // margin: auto;
        height: auto;

        img {
            margin: clamp(1rem, 3vw, 5rem);
            width: clamp(200px, 16vw, 15rem);
        }

        
    }

    .character-preview-container::after{
        content: "";
        position: absolute;
        align-content: center;
        background-color: white;
        height: 5rem;
        width: clamp(12rem, 25vw, 15rem);
        border-radius: 50%;
        opacity: .5;
        bottom: 0;
        z-index: -1;
    }

    .totalValue {
        text-align: center;
        background-color: #FFFFFF;
        width: fit-content;
        padding: 0;
        border-radius: 10px 10px 5px 5px;
        margin: .5rem auto 1rem auto;

        .label {
            background-color: #094B0F;
            margin: 0;
            border-radius: 5px 5px 0 0;
            width: 100%;

            span {
                color: #FFFFFF;
                padding: .3rem 2rem;
            }
        }

        .value {
            width: 100%;
        }

    }
}

@media only screen and (orientation: portrait) {
    .shop-wrapper{
        display: flex;
        flex-direction: column;

        .left {
            width: auto;
        }

    }
}