.shop-wrapper {
  margin-top: 4vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.left {
  width: 40vw;
}
.left .user-info {
  display: grid;
  justify-content: start;
  text-align: center;
  min-width: fit-content;
}
.left .user-info .upper-part {
  width: 100%;
  background-color: #B1BEFA;
  padding: 0.5rem auto;
  border-top-right-radius: 2rem;
}
.left .user-info .upper-part h1 {
  font-size: clamp(16px, 1.25vw, 3rem);
  color: #282054;
  padding: 1rem 3rem;
}
.left .user-info .lower-part {
  display: flex;
  width: 100%;
  background-color: #282054;
  border-bottom-right-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}
.left .user-info .lower-part img {
  margin: 0.3rem;
  width: clamp(25px, 1.25vw, 3rem);
  float: left;
}
.left .user-info .lower-part h1 {
  font-size: clamp(16px, 1vw, 3rem);
  color: #B1BEFA;
  margin: auto 0.5rem;
}
.left .character-preview-container {
  display: grid;
  place-items: center;
  position: relative;
  height: auto;
}
.left .character-preview-container img {
  margin: clamp(1rem, 3vw, 5rem);
  width: clamp(200px, 16vw, 15rem);
}
.left .character-preview-container::after {
  content: "";
  position: absolute;
  align-content: center;
  background-color: white;
  height: 5rem;
  width: clamp(12rem, 25vw, 15rem);
  border-radius: 50%;
  opacity: 0.5;
  bottom: 0;
  z-index: -1;
}
.left .totalValue {
  text-align: center;
  background-color: #FFFFFF;
  width: fit-content;
  padding: 0;
  border-radius: 10px 10px 5px 5px;
  margin: 0.5rem auto 1rem auto;
}
.left .totalValue .label {
  background-color: #094B0F;
  margin: 0;
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.left .totalValue .label span {
  color: #FFFFFF;
  padding: 0.3rem 2rem;
}
.left .totalValue .value {
  width: 100%;
}

@media only screen and (orientation: portrait) {
  .shop-wrapper {
    display: flex;
    flex-direction: column;
  }
  .shop-wrapper .left {
    width: auto;
  }
}