.shop-wrapper{
    display: flex;
    gap: clamp(3rem,10vw,19rem);
}

.right{
    margin-top: 4vh;
    
    .user-info{
        display: grid;
        justify-content: center;
        text-align: center;
        width: 11vw;

        .upper-part{
            width: inherit;
            background-color: #B1BEFA;
            border-top-right-radius: 2rem;
            min-width: fit-content;

            h1{
                font-size: clamp(16px, 1.25vw, 3rem);
                color: #282054;
                padding: 1rem;
            }
        }
        
        .lower-part{
            display: flex;
            width: inherit;
            background-color: #282054;
            border-bottom-right-radius: 0.5rem;
            min-width: fit-content;
            align-items: center;
            gap: 2rem;

            img{
                margin: 0.5vw;
                width: 2vw;
                float: left;
            }
            
            h1{
                font-size: clamp(16px, 1vw, 3rem);
                color: #B1BEFA;
            }

        }
    }

    .character-preview-container{
        display: flex;
        position: relative;
        margin: 3vw 0 0 15vw;

        img{
            width: 16vw;
        }

        .circular-platform{
            align-content: center;
            background-color: white;
            position:absolute;
            border-radius: 50%;
            height: 17vh;
            width: 20vw;
            z-index: -1;
            left: 46%;
            top:95%;
            transform: translate(-50%, -50%);
            opacity: 40%;
        }
    }
}