.shop-wrapper {
  display: flex;
  gap: 19rem;
}

.right {
  margin-top: 4vh;
}
.right .user-info {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 11vw;
}
.right .user-info .upper-part {
  width: inherit;
  background-color: #B1BEFA;
  border-top-right-radius: 2rem;
}
.right .user-info .upper-part h1 {
  font-size: 1.5rem;
  color: #282054;
  padding: 1rem;
}
.right .user-info .lower-part {
  display: flex;
  width: inherit;
  background-color: #282054;
  border-bottom-right-radius: 0.5rem;
  align-items: center;
  gap: 2rem;
}
.right .user-info .lower-part img {
  margin: 0.5vw;
  width: 2vw;
  float: left;
}
.right .user-info .lower-part h1 {
  font-size: 1.5rem;
  color: #B1BEFA;
}
.right .character-preview-container {
  display: flex;
  position: relative;
  margin: 3vw 0 0 15vw;
}
.right .character-preview-container img {
  width: 16vw;
}
.right .character-preview-container .circular-platform {
  align-content: center;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  height: 17vh;
  width: 20vw;
  z-index: -1;
  left: 46%;
  top: 95%;
  transform: translate(-50%, -50%);
  opacity: 40%;
}
.right .character-preview-container .arrow-carousel-left {
  position: absolute;
  left: 123%;
  top: 66%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.right .character-preview-container .arrow-carousel-left img {
  width: 4vw;
}
.right .character-preview-container .arrow-carousel-left :hover {
  width: 5vw;
}
.right .character-preview-container .arrow-carousel-right {
  position: absolute;
  right: 120%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transform: scaleX(-1);
}
.right .character-preview-container .arrow-carousel-right img {
  width: 4vw;
}
.right .character-preview-container .arrow-carousel-right :hover {
  width: 5vw;
}