.element {
    &:hover{
        &+.popup {
            opacity: 1;
            z-index: 5;
            // display:inline;
            transition: opacity 500ms ease;
        }
    }
}

#periodic-table {
    overflow-y: hidden;
}

// .main-wrapper {
//     overflow-x: hidden;
// }