.main-header {
  display: block;
  width: 100%;
  margin: 0;
  border-bottom: 5px solid #220B42;
}
.main-header h1 {
  font-size: clamp(26px, 4vw, 3rem);
  color: white;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  flex-grow: 1;
  align-items: center;
}

.icons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 1rem;
}

#periodic-table {
  display: grid;
  grid-template-rows: repeat(11, 18px);
  grid-template-columns: repeat(18, 18px);
  grid-gap: 2rem;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 15px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#mixing-table {
  width: 28vw;
  height: max(8vh, 4rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 5px #320D63;
}
#mixing-table div {
  margin: 5px;
}
#mixing-table h2 {
  color: #0B004A;
  font-size: clamp(12px, 1.5vw, 1.05rem);
  margin: 0;
}

#mixing-table.wrong-mix {
  background-color: rgb(95, 28, 28) !important;
}
#mixing-table.wrong-mix h2 {
  color: white !important;
}

.mixing-table {
  display: flex;
  text-align: center;
  align-items: center;
}
.mixing-table .element {
  background-color: rgba(98, 26, 124, 0.8);
  color: white;
}
.mixing-table .element:hover {
  background-color: #D34646;
  cursor: pointer;
}
.mixing-table .cta {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.4rem;
  color: #0C004E;
  background-color: #FFCD4E;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4666666667);
  height: 8vh;
  margin: 0 0 0 1rem;
}
.mixing-table .cta img {
  height: 100%;
}
.mixing-table .cta:hover:enabled {
  background-color: #FFEAB6;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4666666667);
}

@media only screen and (orientation: portrait) {
  .main-wrapper .mixing-table {
    width: 80%;
    margin-top: 2rem;
    flex-direction: column;
  }
  .main-wrapper .mixing-table #mixing-table {
    width: 100%;
    box-shadow: 0 0 0 0;
    border: 5px #320D63 solid;
  }
  .main-wrapper .mixing-table .cta {
    max-width: 100%;
    width: 40%;
    margin: 1rem 0 0;
  }
  .main-wrapper #periodic-table {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 3px;
  }
  .main-wrapper #periodic-table .element.unavailable {
    display: none;
  }
}