.container {
  display: grid;
  place-items: center;
  margin-right: 204.75px;
}
.container .fingerprint {
  margin-top: 60px;
}
.container .header-text {
  font-size: 50px;
  color: #FFFFFF;
}
.container h2 {
  margin-top: 0px;
}

.wrapper {
  background-color: #FFFFFF;
  border: 15px solid #FFFFFF;
  border-radius: 20px;
}
.wrapper .otp-container {
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  margin-bottom: 50px;
}
.wrapper .otp-container input {
  background-color: #282054;
  font-size: 120px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 10px;
  width: 125px;
  height: 125px;
}
.wrapper .btn-wrapper {
  display: grid;
  place-items: center;
  color: #0C004E;
  margin-bottom: 10px;
}
.wrapper .btn-wrapper button {
  margin: 60px;
  background-color: #FFCD4E;
  font-size: 1.5rem;
  margin: 10px;
}