.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.container .fingerprint,
.container .header-text,
.container h2,
.container .wrapper {
  margin: 0.5rem auto auto;
  text-align: center;
}
.container .header-text {
  font-size: clamp(24px, 3vw, 3.5rem);
  color: #FFFFFF;
}
.container h2 {
  font-size: clamp(20px, 2.5vw, 3rem);
}
.container .wrapper {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 2rem;
}
.container .wrapper .otp-container {
  grid-template-columns: repeat(4, clamp(50px, 2vw, 6rem));
  margin-bottom: 1rem;
}
.container .wrapper .otp-container input {
  background-color: #282054;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  font-size: clamp(16px, 15vw, 5.5rem);
  height: clamp(50px, 15vw, 6rem);
  width: clamp(50px, 15vw, 6rem);
  margin: 0 5px;
}
.container .wrapper .btn-wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  color: #0C004E;
}
.container .wrapper .btn-wrapper button {
  background-color: #FFCD4E;
  font-size: 1.5rem;
  margin: 10px;
  width: max-content;
  padding: 0.2rem 1rem;
}

@media only screen and (orientation: portrait) {
  .container .wrapper {
    padding: 2rem 0;
    width: 100vw;
    border-radius: 0;
    border: 0;
  }
}