.defeat-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
.defeat-window .defeat {
  width: 70%;
  height: 60%;
  background-color: #D03939;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.defeat-window .defeat .header, .defeat-window .defeat h3, .defeat-window .defeat .answer {
  color: white;
  font-size: clamp(16px, 2vw, 4rem);
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
.defeat-window .defeat .header {
  margin-top: 2rem;
  font-size: clamp(16px, 5vw, 5rem);
}
.defeat-window .defeat .answer {
  background-color: rgba(0, 0, 0, 0.4941176471);
  padding: 0.5rem auto;
}
.defeat-window .defeat .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.defeat-window .defeat .button-wrapper .try-again {
  background-color: #308C27;
}