.stage-wrapper h2 {
  margin: 0;
  text-align: center;
}
.stage-wrapper .stages {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.stage-wrapper .stages button {
  width: max-content;
  padding: 5px;
  aspect-ratio: 1;
  margin: 1rem auto;
}
.stage-wrapper .stages button:has(img) {
  display: grid;
  place-items: center;
}
.stage-wrapper .stages button:nth-last-child(1) {
  grid-column: 1/span 3;
  grid-row: 5/5;
  aspect-ratio: 16/9;
  margin: auto;
}

.lock-icon {
  width: 2rem;
}