.choice {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 1rem 2rem;
    border-radius: 12px;
}

.choice:hover {
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.correct{
    background-color: #206E28;
    color: white;
}

.correct:hover {
    background-color: #206E28;
    color: white;
}

.wrong {
    background-color: #5f1c1c;
    color: white;
}

.wrong:hover {
    background-color: #5f1c1c;
    color: white;
}