// .popup-wrapper {
//     &:hover{
//         .popup {
//             opacity: 1;
//         }
//     }
// }

.popup {
    background-color: white;
    border: 5px solid #320D63;
    width: max-content;
    border-radius: 75px 15px 15px 0;
    height: 375px;
    width: 250px;
    color: black;
    padding: 1rem 2rem;
    text-align: justify;
    opacity: 0;
    // display: none;
    z-index: -1;
    position: absolute;
    transform: translate(12%, -105%);

    .pop-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.pop-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;

    .pop-text {
        text-align: center;
        margin: auto;
        .element-name {
            font-size: 1.5rem;
        }
        .atomic-mass {
            margin-top: -.5rem;
        }
    }
}

.picture {
    width: 64px;
    height: 64px;
    background-color: red;
    border-radius: 2px;
}