@import url("../Pages/global.scss");

nav {
    border-bottom: 1px solid #E6CCFF;
    height: 7vh;
    ul {
        display: flex;
        flex-direction: row-reverse;
        li {
            list-style-type: none;
            padding: 1rem;
            margin: .3rem;
            a {
                color: white;
                text-decoration: none;
                padding: 1rem;
                margin: .3rem;
            }
            
            a:hover {
               text-decoration: underline; 
               background-color: rgba(0, 0, 0, 0.371);
               border-radius: 15px;
               transition: 5ms;
            }
        }
    }
}
