.shop-items-container {
  width: clamp(50%, 45vw, 85%);
  background-color: #B1BEFA;
  border-radius: 20px 0 0 20px;
  margin: 0;
  overflow-y: auto;
  height: 80vh;
}
.shop-items-container .category-and-items-container {
  padding: 1.5rem 0;
}
.shop-items-container .category-and-items-container .category-title {
  min-width: fit-content;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0 14px 14px 0;
  background-color: #F4AF00;
  width: 20%;
  padding: 1rem 1.5rem;
}
.shop-items-container .category-and-items-container .category-title h1 {
  color: #282054;
  font-family: "JetBrains Mono", monospace;
  font-size: clamp(1rem, 1.2vw, 2rem);
}
.shop-items-container .category-and-items-container .items {
  display: flex;
  gap: 1rem;
  justify-items: space-around;
  align-items: space-around;
  overflow-x: scroll;
  width: 85%;
  margin: auto;
}
.shop-items-container .category-and-items-container .items .item {
  background-color: #282054;
  color: #FFEFD7;
  display: grid;
  place-items: center;
  padding: 0.2rem;
  border-radius: 10px;
}
.shop-items-container .category-and-items-container .items .item .picture {
  aspect-ratio: 1;
  width: clamp(100px, 10vw, 160px);
  height: clamp(100px, 10vw, 160px);
  background-color: red;
}
.shop-items-container .category-and-items-container .items .item:hover {
  background-color: #41367f;
  cursor: pointer;
}
.shop-items-container .category-and-items-container .items::-webkit-scrollbar {
  height: 6px;
}

.btn-group {
  display: flex;
  flex-grow: 1;
  width: 50%;
  color: #0C004E;
}
.btn-group button {
  font-size: clamp(20px, 2.5vw, 3rem);
}
.btn-group .save {
  background-color: #F4AF00;
}
.btn-group .save:hover {
  background-color: #FFEAB6;
  color: #0C004E;
}

@media only screen and (orientation: portrait) {
  .shop-items-container {
    width: 90%;
    margin: auto;
    border-radius: 6px;
  }
  .btn-group {
    margin: auto;
  }
  .btn-group button {
    padding: 0.5rem;
  }
}