.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 270px;
  left: 0;
  top: 0;
  background-color: #220B42;
  color: white;
  transition: all 500ms ease-in;
  overflow-y: auto;
}

#side-nav-arrow {
  position: absolute;
  right: 0;
  top: calc(12% - 10px);
  background-color: #3B2B52;
  padding: 8px 5px;
  transform: rotate(180deg);
  margin-right: 2px;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.431372549);
  border-radius: 50%;
  transition: transform 1s;
}

#side-nav-close {
  display: none;
  width: 25px;
  align-self: flex-end;
  margin: 1rem;
}

#nav-menu {
  position: fixed;
  width: 2rem;
  right: 0.5rem;
  top: 7rem;
  display: none;
}

#nav-menu:hover {
  cursor: pointer;
}

.side-nav-logo {
  width: 140px;
  padding: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 2rem;
}
.user img {
  width: 32px;
  background-color: #d0bfe9;
  border-radius: 50%;
  padding: 1rem;
}
.user p {
  margin: 0.5rem;
}
.user a {
  color: white;
}
.user a:hover {
  color: #DE9F00;
}
.user .cta {
  border-radius: 25px;
  padding: 0 0.25rem;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
  width: 80%;
}
.category .category-header {
  display: flex;
  align-items: center;
  justify-items: center;
}
.category .category-header img {
  width: 24px;
}
.category .category-header h3 {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.category .category-header a {
  color: white;
  padding: 0;
}
.category .category-header a img {
  width: 24px;
}
.category .category-header a .l-name {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.category .category-header a:hover {
  color: #DE9F00;
}
.category a {
  display: flex;
  text-decoration: none;
  padding: 0 0.5rem;
  color: white;
}
.category .category-links {
  margin-left: 2rem;
}
.category .category-links a img {
  width: 14px;
}
.category .category-links a.active {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px 0 0 15px;
  padding: 0 0.5rem;
}
.category .category-links a:hover {
  color: #DE9F00;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px 0 0 15px;
  padding: 0 0.5rem;
}

.category:has(.active) {
  background-color: rgba(158, 138, 187, 0.8);
}

.footer {
  margin: auto auto 2rem;
}
.footer p {
  text-align: center;
}

.collapsed-nav {
  overflow-x: hidden;
  width: 105px;
  transition: all 500ms ease-in;
}
.collapsed-nav #side-nav-arrow {
  transform: rotate(0deg);
  top: calc(11% - 10px);
  transition: transform 1s;
}
.collapsed-nav .side-nav-logo {
  width: 80%;
  padding: 2rem;
}
.collapsed-nav .user img {
  width: 32px;
  padding: 0.5rem;
}
.collapsed-nav .category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
}
.collapsed-nav .category .category-header ~ .category-links {
  border-top: 2px rgb(255, 255, 255) solid;
}
.collapsed-nav .category .category-header img {
  size: 120px;
  margin: 0;
  padding: 0.5rem;
}
.collapsed-nav .category .category-header a {
  border-radius: 15px;
}
.collapsed-nav .category .category-header a img {
  size: 120px;
  margin: 0;
  padding: 0.5rem;
}
.collapsed-nav .category .category-header a .l-name {
  display: none;
}
.collapsed-nav .category .category-header a:hover {
  background-color: rgba(158, 138, 187, 0.8);
}
.collapsed-nav .category .category-header h3 {
  display: none;
}
.collapsed-nav .category .category-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 0;
  overflow: hidden;
}
.collapsed-nav .category .category-links a {
  display: none;
  transform: translateY(-300%);
  padding: 5px;
}
.collapsed-nav .category .category-links a img {
  width: 16px;
  margin: auto;
}
.collapsed-nav .category .category-links a .l-name {
  display: none;
}
.collapsed-nav .category .category-links a.active {
  border-radius: 15px;
}
.collapsed-nav .category .category-links a:hover {
  background-color: rgba(158, 138, 187, 0.8);
  border-radius: 15px;
}
.collapsed-nav .category:hover .category-header + .category-links a {
  display: block;
  transform: translateY(0);
  transition: display 0.5s;
  transition: transform 0.5s;
}

@media only screen and (orientation: portrait) {
  .collapsed-nav {
    display: none;
  }
  .sideNav {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
  }
  #side-nav-close {
    display: block;
  }
  #nav-menu {
    display: block;
    z-index: 9;
  }
  #side-nav-arrow {
    display: none;
  }
}