.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 15vw;
    left: 0;
    top: 0;

    background-color: #220B42;
    color: white;
    position:fixed;

    overflow-y: auto;
}

.side-nav-logo {
    width: 140px;
    padding: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 2rem;

    img {
        width: 32px;
        background-color: #d0bfe9;
        border-radius: 50%;
        padding: 1rem;
    }
    
    p {
        margin: .5rem;
    }
}
.category {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    width: 80%;

    .category-header {
        display: flex;
        align-items: center;
        justify-items: center;
        
        img {
            width: 24px;
        }

        h3 {
            font-size: 1.4rem;
            margin-left: .5rem;

            a {
                color: white;
                font-size: 1.4rem;

                .active {
                    color: #DE9F00;
                }
            }

            a:hover {
                color: #DE9F00;
            }
        }
    }

    ul {
        li {
            text-align: left;
            margin-left: 2rem;
            list-style: none;
            a {
                text-decoration: none;
                padding: 0 .5rem;
                color: white;
            }
        }

        li:has(.active){
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px 0 0 15px;
            padding: 0 .5rem;
        }

        li:hover {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px 0 0 15px;
            padding: 0 .5rem;
        }
    }
}

.category:has(.active) {
    background-color: rgba(158, 138, 187, 0.8);
}

// .cat-active {
//     background-color: rgba(158, 138, 187, 0.8);
// }

.footer {
    margin: auto auto 2rem;
}