.total-score {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  align-content: center;
  justify-items: center;
  position: relative;
  grid-gap: 0;
  height: 93vh;
}
.total-score .wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 2rem 6rem;
  width: 45%;
  color: white;
}
.total-score .wrapper h2 {
  margin: 0;
  font-size: clamp(17px, 5vw, 4rem);
  text-align: center;
  color: #FFEFD7;
}
.total-score .wrapper .data-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.total-score .wrapper .data-wrapper .left-data {
  justify-self: start;
  font-size: max(20px, 2vw, 1.5rem);
}
.total-score .wrapper .data-wrapper .right-data {
  font-size: max(20px, 2vw, 1.5rem);
  justify-self: end;
  align-self: flex-end;
}
.total-score .wrapper .data-wrapper .total-data {
  color: #FFCD4E;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.img-wrapper {
  transform: translateY(10%);
  justify-self: center;
  align-self: flex-end;
}

#bflask-1 {
  height: clamp(64px, 15vw, 18rem);
}

#bflask-2 {
  height: clamp(32px, 10vw, 12rem);
}

@media only screen and (orientation: portrait) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
  }
  .button-wrapper button {
    width: 100%;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .wrapper {
    padding: 2rem 4rem;
  }
}