.Trivia .wrapper {
  color: #220C41;
  border: 10px solid #240E3F;
  border-radius: 18px;
  background: #E2D9E5;
  padding: 1rem 5rem;
  min-width: 40vw;
  max-width: 40vw;
  min-height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  overflow-y: auto;
}
.Trivia .wrapper h2 {
  margin-top: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 0.3rem 2rem;
}
.Trivia .wrapper h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.Trivia .wrapper .trivia-text {
  text-align: justify;
  text-indent: 2rem;
}