.container {
  display: grid;
  align-items: center;
  margin-left: 120px;
}
.container .selector {
  justify-self: start;
  margin-left: 190px;
  padding: 0px;
  float: left;
  display: flex;
  z-index: 101;
  margin-bottom: 700px;
  position: absolute;
}
.container .selector button {
  border: 5px solid #240E3F;
  border-radius: 18px;
  margin: 0 15px 0 0;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 32px;
}
.container .selector #electronConfig {
  float: left;
}
.container .selector #intelliment {
  margin: 0px 0px 0px 0px;
  float: right;
}

.top-text {
  margin-bottom: 520px;
  position: absolute;
  background-color: #E8E8E8;
  border-style: none;
  border-radius: 10px;
  z-index: 99;
  box-shadow: 0 4px 2px -2px black;
  padding: 20px;
}
.top-text h1 {
  color: #0C004E;
  margin: 0%;
  font-size: 40px;
  text-shadow: none;
}

.ranking-container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 50px;
  color: #220C41;
  margin-top: 110px;
  padding: 50px;
  border: 10px solid #240E3F;
  border-radius: 18px;
  width: 1000px;
  background: #E2D9E5;
}