.test-battle {
    display: grid;
    margin: 2rem auto;
    gap: 1rem;
    place-items: center;
    height: 90vh;
}

.testBattle-wrapper{
    .game-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        .score {
            background-color: #0C004E;
            color: #FFFFFF;
            display: flex;
            width: 8rem;
            padding: .5rem;
            border-radius: 5px;
            justify-self: flex-start;
        
            img {
                aspect-ratio: 1;
                width: 1rem;
                margin: 0 .2rem;
            }
        }
    }
    
    .battle-window{
        display: grid;
        background-color:#474747;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        padding: .3rem;
        border-radius: 10px;
        height: fit-content;
        width: 85vw;
    
        .players-wrapper {
            display: grid;
            grid-template-areas: "whitespace question enemy"
                                 "player info timer";
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            background-color: #190736;
            padding: 1rem;
            width: 95%;
            height: 90%;
            margin: auto;
    
            background-image: url("../../Assets/Images/battle-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 0;
    
            border-radius: 14px 14px 0 0;
    
            .entity {
                text-align: center;
                place-self: center;
                position: relative;
                // overflow: hidden;
    
                img {
                    width: max(7vw, 60px);
                }
    
                .gfx {
                    position: absolute;
                    width: max(7vw, 60px);
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 10%);
                    display: none;
                }
    
                .gfx-active {
                    display: block;
                    animation: blink-animation .3s steps(5, start) infinite;
                }
            }

            .entity::after {
                content: "";
                width: 100%;
                height: 2rem;
                background-color: rgba(71, 71, 71, 0.6);
                border-radius: 50%;
                position: absolute;
                bottom: -5px;
                left: 0;
                z-index: -1;
            }
    
            .player {
                grid-area: player;
                align-self: flex-end;
                justify-self: flex-end;

                .gfx {
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 60%);
                }
            }
    
            .enemy {
                grid-area: enemy;
                align-self: flex-start;
                justify-self: flex-start;

                img, .gfx {
                    width: max(10vw, 90px);
                }
            }

            .onHit {
                animation: blink-animation .300ms steps(5, start);
            }

            .defeat {
                opacity: 0;
                animation: down-enemy 500ms ease-in;
            }
    
            .question-bubble {
                display: flex;
                align-self: flex-start;
                justify-self: flex-end;
                background-color: #182747;
                // box-shadow: 0px 0px 5px 5px #474747;
                grid-area: question;
                border-radius: 15px 15px 0 15px;
                padding: 5px;
                margin: 1rem 2rem auto auto;
                position: relative;
                z-index: 5;
    
                .element-icon {
                    padding: .5em;
                    background-color: #E1D7BE;
                    display: grid;
                    place-items: center;
                    border-radius: 15px;
                    color: #182747;
                    margin: .5em;
                    font-size: clamp(16px, 1.5vw, 2rem);
                }
                .question {
                    display: grid;
                    place-items: center;
                    
                    p {
                        color: #FFEFD7;
                        font-size: clamp(14px, 1.2vw, 1.5rem);
                    }
                }
            }
    
            .question-bubble::after {
                content: "";
                width: 4em;
                height: 3em;
                position: absolute;
                bottom: 0;
                right: -10%;
                background-color: #182747;
                clip-path: polygon(0 50%, 0% 100%, 100% 100%);
                border-bottom-left-radius: 25px;
                z-index: -2;
            }
    
            .player-info {
                display: flex;
                flex-direction: column;
                background-color: #3B0089;;
                grid-area: info;
    
                align-self: flex-end;
                justify-self: flex-start;
    
                padding: .5rem 1rem;
                border-radius: 15px;
    
                margin-bottom: 1rem;
    
                .username {
                    align-self: flex-start;
                    color:white;
                }
    
                .user-health {
                    align-self: center;
                    
                    img {
                        width: 2rem;
                        margin: auto 2px;
                    }
                }
            }
        }
    
        .action-choices {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 0 1rem;
            max-width: 95%;
            width: 95%;
            margin: 1rem auto;
            background-color: #E2E7FF;
            border-radius: 0 0 14px 14px;
            
            .choices-wrapper {
                padding: .5rem 1rem 1rem;
                display: grid;
                place-items: center;
                border-right: 5.5px #C7D1FF solid;
                max-height: fit-content;
    
                .label {
                    text-align: center;
                    font-size: clamp(16px, 2vw, 1.5rem)
                }
                
                .battle-log {
                    grid-row: 1/2;
                    align-self: center;
                    justify-self: center;
                    h1 {
                        margin: 0;
                        font-size: clamp(16px, 3vw, 4rem);
                        text-align: center;
                        word-wrap: break-word;
                    }
                }
    
                .choices {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    height: 80%;
                    width: 100%;
                    gap: 1rem;
                    place-items: center;
    
                    button {
                        background-color: #474747;
                        color: #FFFFFF;
                        width: 100%;
                        padding: .1rem 1.8rem;
                        box-shadow: 0 0 0 .2rem #474747;
                        border-radius: 2px;
                        font-size: clamp(13px, 2vw, 1.5rem);
                    }
    
                    button:hover {
                        background-color: #21AB97;
                    }
                }
            }

            .items-wrapper {
                border-left: 5.5px #C7D1FF solid;
                display: grid;
                place-items: center;
            }
        }

        .normal-actions {
            grid-template-columns: 1fr;

            .choices-wrapper {
                border-right: none;
                max-height: fit-content;
            }

            .items-wrapper {
                display: none;
            }
        }
    }
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
@-webkit-keyframes blink-animation {
to {
    visibility: hidden;
}
}

@keyframes down-enemy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes down-enemy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  
@media only screen and (orientation: portrait) {
    .testBattle-wrapper {
        .battle-window {
            grid-template-rows: 1fr 1.5fr;
            width: auto;
            margin: auto;
    
            .players-wrapper {
                height: auto;
                padding: .5rem;
            }
    
            .action-choices{
                display: flex !important;
                flex-direction: column;
                gap: 2rem;
                padding: .5rem;
        
                .choices-wrapper {
                    border-right: 0 solid;
                }
            }
    
            .items-wrapper {
                border-left: 0 solid;
            }
        }
    }
}