:root {
  --navHeight: 8vh;
}

#discover-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  padding: 0 1rem;
  background-color: rgb(0, 0, 0);
  z-index: 5;
  overflow-y: auto;
  align-items: center;
  transition: 0.25s ease-in;
  overflow-x: hidden;
}
#discover-list #exit-icon {
  font-size: 1rem;
  align-self: flex-end;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: 2px white solid;
  aspect-ratio: 1;
  margin: 5px;
  padding: 0;
}
#discover-list #total {
  color: white;
  font-size: 2rem;
}
#discover-list #exit-icon:hover {
  color: rgb(133, 71, 89);
  border-color: rgb(133, 71, 89);
  cursor: pointer;
}
#discover-list h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: sticky;
}
#discover-list .known-elem {
  color: #000000;
  padding: 0.5rem 4rem;
  background-color: #FFE5FD;
  margin: 4px;
}
#discover-list .known-elem:hover {
  background-color: rgba(255, 229, 253, 0.5568627451);
  cursor: pointer;
}

.hidden {
  transform: translateX(100%);
}