.wrapper {
  overflow: auto;
}
.wrapper .ranking-list {
  border-collapse: collapse;
  background-color: #E2D9E5;
  width: 100%;
}
.wrapper .ranking-list .table-header {
  position: sticky;
  top: 0px;
  background-color: #E2D9E5;
}
.wrapper .ranking-list .table-header th {
  font-size: clamp(20px, 1vw, 2rem);
}
.wrapper .ranking-list .output-rankings {
  background-color: #FFFFFF;
  border: 15px solid #E2D9E5;
  border-radius: 100px;
  text-align: center;
}
.wrapper .ranking-list .output-rankings img {
  padding-top: 10px;
}
.wrapper .ranking-list .output-rankings td {
  font-size: 2rem;
  padding: 0 100px 0 100px;
}

.rank-wrap {
  width: 100%;
}