.electron-finish {
  position: relative;
  margin: 25vh 0 0 15vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  align-content: center;
  justify-content: center;
}
.electron-finish .wrapper {
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 2rem 6rem;
  width: 60%;
  color: white;
}
.electron-finish .wrapper h2 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: #FFEFD7;
}
.electron-finish button {
  justify-self: center;
}

.img-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 111px);
  transform: translateY(-93%);
  justify-self: center;
}

#gflask-1 {
  height: 180px;
}

#gflask-2 {
  height: 130px;
}