.close-button {
  position: absolute;
  z-index: 3;
  top: 0;
  right: -5%;
}
.close-button img {
  width: 2rem;
}

.close-button:hover {
  cursor: pointer;
}

.instruction-content {
  display: grid;
  background-color: pink;
  position: relative;
  border-radius: 10px;
  width: 70vw;
  height: 85vh;
  padding: 1rem;
}
.instruction-content .screenshots-slider {
  display: grid;
  grid-template-columns: 1fr;
  background-color: purple;
  place-items: center;
  position: relative;
}
.instruction-content .screenshots-slider .middle-container {
  position: relative;
  margin: auto;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.instruction-content .screenshots-slider .middle-container .left-button, .instruction-content .screenshots-slider .middle-container .right-button {
  position: absolute;
}
.instruction-content .screenshots-slider .middle-container .left-button {
  left: 0;
}
.instruction-content .screenshots-slider .middle-container .left-button img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.instruction-content .screenshots-slider .middle-container .right-button {
  right: 0;
}
.instruction-content .screenshots-slider .middle-container .screenshots {
  width: clamp(160px, 35vw, 35rem);
  height: clamp(145px, 30vw, 30rem);
  display: grid;
  place-items: center;
}
.instruction-content .screenshots-slider .middle-container .screenshots img {
  border-radius: 5px;
  width: inherit;
}
.instruction-content .screenshots-slider .middle-container .screenshots .mobile-screenshot {
  display: none;
}
.instruction-content .screenshots-slider .middle-container .screenshots .screenshot {
  display: block;
}
.instruction-content .screenshots-slider .steps {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  width: 100%;
  height: 100%;
  grid-column: span 3/auto;
}
.instruction-content .screenshots-slider .steps p {
  color: #FFFFFF;
  margin: 0;
  font-size: clamp(14px, 2vw, 1.25rem);
  text-align: center;
}
.instruction-content .description-and-steps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction-content .description-and-steps .description > p {
  font-size: clamp(12px, 2vw, 1rem);
  text-align: center;
  font-weight: bold;
}

.Incorrect {
  background-color: red;
  height: 100%;
}

.Correct {
  background-color: green;
  height: 100%;
}

.left-button, .right-button {
  width: 1.5rem;
}

.left-button:hover, .right-button:hover {
  transform: scale(1.25);
  cursor: pointer;
}

@media only screen and (orientation: portrait) {
  .instruction-content {
    height: 90vh;
  }
  .instruction-content .screenshots-slider {
    align-items: flex-start;
    grid-template-rows: 70% 30%;
  }
  .instruction-content .screenshots-slider .middle-container .screenshots {
    height: inherit;
  }
  .instruction-content .screenshots-slider .middle-container .screenshots .mobile-screenshot {
    display: block;
  }
  .instruction-content .screenshots-slider .middle-container .screenshots .screenshot {
    display: none;
    width: clamp(165px, 30vw, 35rem);
  }
}