.close-button{
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 20%;
        a{
       img{
            width: 2rem;//clamp  later
        }
    }
        
}

.content {
    display: grid;
    background-color: pink;
    border-radius: 10px;
    width: 50vw;
    padding: 1rem;//clamp mamaya

    .screenshots-slider{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;//clamp mamaya
        background-color: purple;
        border-radius: 5px;
        align-items: center;
        justify-items: center;
            
        .left-button{
            a{
                img{
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1)
                }
            }
        }

        .middle-container{
            display: grid;
            text-align: center;
            padding: 1rem;//clamp  later
            border-radius: 20px;
            .screenshots{
                width: 30vw;//clamp  later
                height: 56vh;//clamp  later
                img{ 
                    border-radius: 20px;
                    width: 30vw;//clamp  later
                    height: 56vh;//clamp  later
                    // width: 29vw;
                }
            }
            .text{
                h1{
                    font-size: 2rem;//clamp  later
                }
            }
        }
            

    }

    .description-and-steps{
        h1{
            font-size: 1.5rem;//clamp mamaya
        }
    }
}



.Incorrect{
    background-color: red;
}

.Correct{
    background-color: green;
}

.left-button, .right-button{
    img{
        width: 2vw;
    }

}

.left-button, .right-button{
    img:hover{
        width: 3vw;
    }
    
}

// .slide-right{animation:slide-right 0.4s linear both}@keyframes slide-right{0%{transform:translateX(0)}100%{transform:translateX(100px)}}

// .slide-left{animation:slide-left 0.4s linear both}@keyframes slide-left{0%{transform:translateX(0)}100%{transform:translateX(-100px)}}