.periodic-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;

    .wrapper {
        color: #220C41;
        border: 10px solid #240E3F;
        border-radius: 18px;
        background: #E2D9E5;
        max-width: 80vw;
        max-height: 93vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;

        h2 {
            margin-top: 2rem;
            text-align: center;
            font-size: clamp(12px, 2vw, 3rem);
            color: #220C41;
        }

        .exit {
            align-self: flex-end;
            padding: .2rem;
            width: 1rem;
            text-align: center;
            height: 1rem;
            border: 2px solid black;
            border-radius: 50%;
            margin: 1rem 1rem 0 0;
        }

        .exit:hover {
            color: #FF0000;
            border: 2px solid #FF0000;
            cursor: pointer;
        }

        .element-header {
            display: grid;
            width: 80%;
            margin-bottom: 1rem;
            .element-wrapper {
                width: 40%;
                padding: 3rem auto;
                color:#220C41;
                align-self: flex-end;
                justify-self: center;
                margin: 0;
                transform: translateY(15%);
    
                .atomic-num {
                    font-size: 2rem;
                }
                .element-sym {
                    font-size: 4rem;
                }
                .element-name {
                    font-size: 2rem;
                }
            }

            .element-picture {
                height: 100%;
                width: 60%;          
                align-self: flex-start;
                justify-self: center;
                height: 20rem;
                border-radius: 15px;

                img {
                    border-radius: 15px;
                    width: 100%;
                    object-fit:fill;              
                    height: inherit;
                }
            }
        }

        .description-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            width: 80%;

            .right-desc{
                justify-self: end;
            }
        }

        .bohr-img {
            width: 80%;
            border-radius: 25px;
            margin-bottom: 2rem;

            * {
                height: 40vh;
                width: 100%;
            }
        }

        .summary {
            text-align: center;
            margin: auto 4rem;

            strong {
                text-align: left;
            }
        }

    }
}

@media only screen and (orientation: portrait) {
    .periodic-modal {
        .wrapper {
            max-width: 100vw;
            max-height: 80vh;
            padding: .5rem;
            
            .element-header {
                width: 100%;
                .element-wrapper {
                    width: 100%;
                }

                .element-picture {
                    height: 100%;
                    width: 100%;          
                    align-self: flex-start;
                    justify-self: center;
                    height: 20rem;
                    border-radius: 15px;
                }
            }
    
            .description-wrapper {
                width: 100%;
            }
            .bohr-img {
                img {
                    width: 200px;
                    border-radius: 25px;
                }
            }
    
            .summary {
                margin: auto 1rem;
            }

            .button.cta{
                padding: .5rem;
            }
        }
    }
}