.periodic-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
.periodic-modal .wrapper {
  color: #220C41;
  border: 10px solid #240E3F;
  border-radius: 18px;
  background: #E2D9E5;
  max-width: 80vw;
  max-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.periodic-modal .wrapper h2 {
  margin-top: 2rem;
  text-align: center;
  font-size: clamp(12px, 2vw, 3rem);
  color: #220C41;
}
.periodic-modal .wrapper .exit {
  align-self: flex-end;
  padding: 0.2rem;
  width: 1rem;
  text-align: center;
  height: 1rem;
  border: 2px solid black;
  border-radius: 50%;
  margin: 1rem 1rem 0 0;
}
.periodic-modal .wrapper .exit:hover {
  color: #FF0000;
  border: 2px solid #FF0000;
  cursor: pointer;
}
.periodic-modal .wrapper .element-header {
  display: grid;
  width: 80%;
  margin-bottom: 1rem;
}
.periodic-modal .wrapper .element-header .element-wrapper {
  width: 40%;
  padding: 3rem auto;
  color: #220C41;
  align-self: flex-end;
  justify-self: center;
  margin: 0;
  transform: translateY(15%);
}
.periodic-modal .wrapper .element-header .element-wrapper .atomic-num {
  font-size: 2rem;
}
.periodic-modal .wrapper .element-header .element-wrapper .element-sym {
  font-size: 4rem;
}
.periodic-modal .wrapper .element-header .element-wrapper .element-name {
  font-size: 2rem;
}
.periodic-modal .wrapper .element-header .element-picture {
  height: 100%;
  width: 60%;
  align-self: flex-start;
  justify-self: center;
  height: 20rem;
  border-radius: 15px;
}
.periodic-modal .wrapper .element-header .element-picture img {
  border-radius: 15px;
  width: 100%;
  object-fit: fill;
  height: inherit;
}
.periodic-modal .wrapper .description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
}
.periodic-modal .wrapper .description-wrapper .right-desc {
  justify-self: end;
}
.periodic-modal .wrapper .bohr-img {
  width: 80%;
  border-radius: 25px;
  margin-bottom: 2rem;
}
.periodic-modal .wrapper .bohr-img * {
  height: 40vh;
  width: 100%;
}
.periodic-modal .wrapper .summary {
  text-align: center;
  margin: auto 4rem;
}
.periodic-modal .wrapper .summary strong {
  text-align: left;
}

@media only screen and (orientation: portrait) {
  .periodic-modal .wrapper {
    max-width: 100vw;
    max-height: 80vh;
    padding: 0.5rem;
  }
  .periodic-modal .wrapper .element-header {
    width: 100%;
  }
  .periodic-modal .wrapper .element-header .element-wrapper {
    width: 100%;
  }
  .periodic-modal .wrapper .element-header .element-picture {
    height: 100%;
    width: 100%;
    align-self: flex-start;
    justify-self: center;
    height: 20rem;
    border-radius: 15px;
  }
  .periodic-modal .wrapper .description-wrapper {
    width: 100%;
  }
  .periodic-modal .wrapper .bohr-img img {
    width: 200px;
    border-radius: 25px;
  }
  .periodic-modal .wrapper .summary {
    margin: auto 1rem;
  }
  .periodic-modal .wrapper .button.cta {
    padding: 0.5rem;
  }
}