.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 100vh;
    width: 270px;
    left: 0;
    top: 0;

    background-color: #220B42;
    color: white;
    transition: all 500ms ease-in;
    overflow-y: auto;
}

#side-nav-arrow{
    position: absolute;
    right: 0;
    top: calc(12% - 10px);
    background-color: #3B2B52;
    padding: 8px 5px;
    transform: rotate(180deg);
    margin-right: 2px;
    box-shadow: 0 3px 10px 5px #0000006e;
    border-radius: 50%;
    transition: transform 1s;
}

#side-nav-close {
    display: none;
    width: 25px;
    align-self: flex-end;
    margin: 1rem;
}

#nav-menu {
    position: fixed;
    width: 2rem;
    right: .5rem;
    top: 7rem;
    display: none;
}

#nav-menu:hover {
    cursor: pointer;
}

.side-nav-logo {
    width: 140px;
    padding: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 2rem;

    img {
        width: 32px;
        background-color: #d0bfe9;
        border-radius: 50%;
        padding: 1rem;
    }
    
    p {
        margin: .5rem;
    }

    a {
        color: white;
    }

    a:hover {
        color: #DE9F00;
    }

    .cta {
        border-radius: 25px;
        padding: 0 .25rem;
    }

    .cta:hover {
        cursor: pointer;
    }
}

.category {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    width: 80%;

    .category-header {
        display: flex;
        align-items: center;
        justify-items: center;
        
        img {
            width: 24px;
        }

        h3 {
            font-size: 1.4rem;
            margin-left: .5rem; 
        }

        a {
            color: white;
            padding: 0;

            img {
                width: 24px;
            }

            .l-name {
                font-size: 1.4rem;
                margin-left: .5rem; 
            }
        }

        a:hover {
            color: #DE9F00;
        }

    }


    a {
        display: flex;
        text-decoration: none;
        padding: 0 .5rem;
        color: white;

        // img {
        //     margin-right: 5px;
        // }
    }

    .category-links {
        margin-left: 2rem;
        a {
            img {
                width: 14px;
            }
    
        }

        a.active{
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px 0 0 15px;
            padding: 0 .5rem;
        }
    
        a:hover {
            color: #DE9F00;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px 0 0 15px;
            padding: 0 .5rem;
        }
    }
}

.category:has(.active) {
    background-color: rgba(158, 138, 187, 0.8);
}

// .cat-active {
//     background-color: rgba(158, 138, 187, 0.8);
// }

.footer {
    margin: auto auto 2rem;
    p {
        text-align: center;
    }
}

.collapsed-nav {
    overflow-x: hidden;
    width: 105px;
    transition: all 500ms ease-in;

    #side-nav-arrow{
        transform: rotate(0deg);
        top: calc(11% - 10px);
        transition: transform 1s;
    }

    .side-nav-logo {
        width: 80%;
        padding: 2rem;
    }

    .user {
        img{
            width: 32px;
            padding: .5rem;
        }
    }

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 5px;

        .category-header~.category-links{
            border-top: 2px rgb(255, 255, 255) solid;
        }

        .category-header {
            img {
                size: 120px;
                margin: 0;
                padding: .5rem;
            }

            a {
                border-radius: 15px;
                img {
                    size: 120px;
                    margin: 0;
                    padding: .5rem;
                }
                .l-name {
                    display: none;
                }
            }

            a:hover {
                background-color: rgba(158, 138, 187, 0.8);
            }

            h3 {
                display: none;
            }
        }
    
        .category-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin-left: 0;
            overflow: hidden;

            a {
                display: none;
                transform: translateY(-300%);
                padding: 5px;
                img {
                    width: 16px;
                    margin: auto;
                }
                .l-name {
                    display: none;
                }
            }

            a.active{
                border-radius: 15px;
            }

            a:hover {
                background-color: rgba(158, 138, 187, 0.8);
                border-radius: 15px;
            }
        }
    }

    .category:hover {
        .category-header+.category-links{
            a {
                display:block;
                transform: translateY(0);
                transition: display .5s;
                transition: transform .5s;
            }
        }
    }
}

@media only screen and (orientation: portrait) {
    .collapsed-nav {
        display: none;
    }

    .sideNav {
        position:fixed;
        height: 100vh;
        width: 100vw;
        z-index: 999;
    }

    #side-nav-close {
        display: block;
    }
    
    #nav-menu {
        display: block;
        z-index: 9;
    }

    #side-nav-arrow {
        display: none;
    }
}