.Trivia {
    .wrapper {
        color: #220C41;
        border: 10px solid #240E3F;
        border-radius: 18px;
        background: #E2D9E5;
        padding: 1rem 5rem;
        min-width: 40vw;
        min-height: 60vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        overflow-y: auto;

        .trivia-header {
            position: relative;
            width: 60%;
            height: 20rem;
            border-radius: 15px 15px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: inherit;
                object-fit: cover;
            }

            h2 {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                color: rgb(255, 255, 255);
                font-size: 4rem;
                margin: 0;
                padding: 0;
                background-color: rgba(0, 0, 0, 0.5);
                // border-radius: 25px;
            }
        }

        .desc-wrapper {
            h3 {
                display: block;
                text-align: center;
                font-size: clamp(1.2rem, 5vw, 2.5rem);

            }

            .trivia-text {
                text-align: justify;
            }
        }

        .DYK-wrapper {
            width: 100%;
            h3 {
                font-size: clamp(1.2rem, 5vw, 2.5rem);
                text-align: center;
            }


            .trivias-wrapper{
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: .5rem 1rem;
                min-height: 3rem;
                width: 95%;
                background-color: rgba(0, 0, 0, 0.7);

                .trivia-text {
                    text-align: center;
                    color: #FFFFFF;
                }

                .triv-btn {
                    img {
                        width: 1.5rem;
                    }
                } 

                .prev-btn {
                    transform: scaleX(-1);
                }

                .prev-btn:hover,
                .next-btn:hover {
                    img {
                        transform: translateX(5px);
                    }
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (orientation: portrait) {
    .Trivia {
        margin: 3rem 0 !important;

        .wrapper {
            h2 {
                font-size: clamp(20px, 4rem, 3rem) !important;
            }
            padding: 0;
            overflow-x: hidden;

            .trivia-header {
                width: 100%;
                border-radius: 0;
            }

            .desc-wrapper {
                margin: .5rem;
            }

            .DYK-wrapper {
                .trivias-wrapper {
                    // width: 100%;
                    padding: 0;
                }
                margin: .5rem 0;
            }
        }
    }

}
