.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  gap: 2rem;
  height: 88vh;
}
.about-wrapper h2 {
  font-size: 2.5rem;
}

#logo-about {
  margin: 1rem auto 0;
}

.short-desc {
  width: 80%;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 25px;
}

.members-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem 1rem;
}
.members-wrapper .picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px white solid;
}
.members-wrapper * {
  margin: auto;
  text-align: center;
}
.members-wrapper p {
  color: white;
  font-size: 1rem;
}

@media only screen and (orientation: portrait) {
  #logo-about {
    width: 80%;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
  }
  .members-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}